- 입력 : 2023년 2월 광진구 버스 정류장을 지나는 버스 일별 데이터
- 출력 : 각 버스 정류장별 환승 가능한 노선 수

In [8]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv('./data/BUS_STATION_BOARDING_MONTH_202302.csv', encoding='cp949')
processed = pd.read_csv('./data/gwangjin_bus_station.csv')

In [ ]:
# 일별 데이터이므로 하루만 남기고 중복 제거
data = data.drop_duplicates(subset=['사용일자'])

In [44]:
# 기존 광진구 버스 정류장 데이터와 병합
df_merged = processed.merge(data, how='inner', left_on='정류장_ID', right_on='표준버스정류장ID')
df_merged = df_merged.loc[(df_merged['사용일자'] == 20230221)]

In [46]:
# 한 정류장을 지나는 여러 버스의 합계를 구함
df_merged['노선수'] = 1
df_merged = df_merged.groupby(by='정류장_ID').sum()

# 정류장 ID와 노선수만 집계
df_merged = df_merged[['정류장_ID', '노선수']]

# 환승 가능한 노선수이므로 전체 노선에서 1을 뺌
df_merged['노선수'] = df_merged['노선수'] - 1

,정류장_ID,위도,경도,버스도착정보안내기_설치_여부,구이름,행정동,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,노선수
60,104900133,127.091538,37.538166,미설치,광진구,구의3동,20230221,광진03,광진03(중곡119안전센터~강변역),104900133,05757,구의3동주민센터(00022),47,9,20230224,1
61,104900133,127.091538,37.538166,미설치,광진구,구의3동,20230221,광진04,광진04(중곡아파트~강변역),104900133,05757,구의3동주민센터(00023),26,7,20230224,1

In [56]:
df_merged.head(2)

      정류장_ID  노선수
0  101000252    3
1  104000001    7

In [58]:
# 컬럼명 조절
df_merged.columns = ['정류장_ID', '환승가능노선수']

In [59]:
df_merged.to_csv('./data/gwangjin_bus_count.csv', encoding='utf-8', index=False)